@page
@model WebApplication7.Pages.Tasks.EditModel
@{
}
<br>
<h2>Edit Task</h2>
<h2>@Model.err</h2>@*show error*@
@if (@Model.err.Length > 0) { 
    <div class='alert alert-warning alert-dismissible fade show' role="alert">
        <strong>@Model.err</strong>
        <button type="button" class="btn-warning" data-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form method="post">@*hidden field of task id*@
    <input type="hidden" name="taskId" value="@Model.taskId"/>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Task name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.task.t_name" required/>@*task old name*@
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Task description</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="description" value="@Model.task.description" required/>@*tasks old description*@
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Select employee</label>
        <div class="col-sm-6">
            <select class="form-control" name="id_employee" required>@*list of employee*@
                @foreach (var item in Model.listEmplyee)
                {/*for each employee we need id and name*/
                    <option value="@item.id">@item.em_name</option>
                }
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-outline-primary " href="/" role="button">Cancel</a>
        </div>
    </div>
</form>
